<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/prime.xhtml">

	<ui:define name="content">

		<h:form id="frmComprueba">

			<p:growl id="messages" autoUpdate="true" closable="true" />

			<h:panelGrid columns="3" cellpadding="5"
				columnClasses="col30,col20,col50"
				style="margin-header:0px;margin-bottom:50px" id='grid1'>

				<p:outputLabel value="PLACA (Ej. PLO-0652):" style="font-size: 20px;"></p:outputLabel>
				<p:inputText id="placa" value="#{autoDiaControlador.autoDia.placa}"
					cols="100" rows="4" />
				<p:message for="placa" display="icon" />

				<p:outputLabel value="FECHA (dd/MM/yyyy) :" style="font-size: 20px;"></p:outputLabel>
				<p:inputText id="fecha" value="#{autoDiaControlador.autoDia.fecha}"
					cols="100" rows="4" required="true" />
				<p:message for="fecha" display="icon" />

				<p:outputLabel value="HORA (HH:mm):" style="font-size: 20px;"></p:outputLabel>
				<p:inputText id="hora" value="#{autoDiaControlador.autoDia.hora}"
					cols="100" rows="4" required="true" />
				<p:message for="hora" display="icon" />

			</h:panelGrid>
			
			<h:panelGrid columns="1" cellpadding="5"
				columnClasses="col60"
				style="margin-header:0px;margin-bottom:50px" id='grid2'>

				<p:commandButton value="COMPROBAR"
					action="#{autoDiaControlador.comprobarPP()}" showDetail="true"
					update="frmComprueba" style="width:100px;height:50px " />
					
			</h:panelGrid>

		</h:form>

	</ui:define>

</ui:composition>
</html>