<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet"
			href="#{request.contextPath}/resources/cssLayout.css" type="text/css"
			media="screen" />
		<title><ui:insert name="page_title">PICO Y PLACA</ui:insert></title>
	</h:head>

	<h:body style="background-color:#E6E6FA">

		<p:growl id="growl" showDetail="false" sticky="false" />

		<p:layout fullPage="true"
			style="margin: 2em !important;background-color:#E6E6FA">

			<p:layoutUnit header="" position="north" size="105" resizable="false"
				closable="false" collapsible="true" style="font-size: 10px;">

			</p:layoutUnit>

			<p:layoutUnit position="south" size="30" closable="true"
				collapsible="true" styleClass="ui-top">

			</p:layoutUnit>

			<p:layoutUnit position="west" size="200" minSize="40" maxSize="800"
				resizable="false" closable="true" collapsible="false"
				style="font-size: 11px;">
			</p:layoutUnit>

			<p:layoutUnit position="center" size="200" minSize="80" maxSize="300"
				resizable="false" closable="true" collapsible="false"
				style="font-size: 11px;">

				<ui:insert name="info"></ui:insert>

				<h:panelGrid width="88%" style="margin-left:7%;margin-top:3%;">
					<ui:insert name="content"></ui:insert>
				</h:panelGrid>

			</p:layoutUnit>

		</p:layout>

	</h:body>

</f:view>
</html>

